$light-100: #f9fafb;
$light-200: #f3f5f7;
$light-300: #eaeef1;
$light-400: #e4e9ed;
$light-500: #e1e6eb;
$light-600: #c2cdd7;
$light-700: #95a6b8;
$light-800: #678099;
$light-900: #52677B;

$dark-100: #224574;
$dark-300: #172d4c;
$dark-400: #112239;
$dark-500: #0b1625;

$white: #ffffff;
$black: #000000;

$primary-100: #f3f9ff;
$primary-200: #c3dffc;
$primary-300: #83BDFA;
$primary-500: #3091f6;

$secondary-300: #A8ABD7;
$secondary-500: #0D148C;
$secondary-600: #021074;

$negative-100: #fdeff3;
$negative-200: #f59cb3;
$negative-500: #E1174C;

$neutral-100: #fffcf8;
$neutral-200: #ffe6c5;
$neutral-500: #FFBB5F;
$neutral-700: #ff9403;

$positive-100: #defcfc;
$positive-200: #b0f7f7;
$positive-500: #13C7C8;
