@font-face {
  font-size: 22px;
  font-family: 'Font01', 'NHaasGroteskDSPro-75Bd-01';
  src: url('../assets/fonts/NHaasGroteskDSPro-75Bd.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-stretch: normal;
}

@font-face {
  font-size: 18px;
  font-family: 'Font02', 'NHaasGroteskTXPro-75Bd-02';
  src: url('../assets/fonts/NHaasGroteskTXPro-75Bd.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-stretch: normal;
}

@font-face {
  font-size: 15px;
  font-family: 'Font03', 'NHaasGroteskTXPro-75Bd-03';
  src: url('../assets/fonts/NHaasGroteskTXPro-75Bd.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-stretch: normal;
}

@font-face {
  font-size: 13px;
  font-family: 'Font04', 'OpenSans-Semibold-04';
  src: url('../assets/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-stretch: normal;
}

@font-face {
  font-size: 13px;
  font-family: 'Font05', 'OpenSans-Regular-05';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-stretch: normal;
}

@font-face {
  font-size: 12px;
  font-family: 'Font06', 'OpenSans-Semibold-06';
  src: url('../assets/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-stretch: normal;
}

@font-face {
  font-size: 12px;
  font-family: 'Font07', 'OpenSans-Regular-07';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-stretch: normal;
}

@font-face {
  font-size: 11px;
  font-family: 'Font08', 'NHaasGroteskTXPro-65Md-08';
  src: url('../assets/fonts/NHaasGroteskTXPro-65Md.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-stretch: normal;
}
